name: Test
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - main
env:
  GO-CACHE-VERSION: v1
jobs:
  test:
    name: Test
    permissions:
      contents: write
      pull-requests: write
      actions: read
    runs-on: ubuntu-latest
    # ubuntu-latest-arm64だと、mysqlコマンドがデフォルトでは入っていない(aptで入れる必要がある)ので、ubuntu-latestを使用
    timeout-minutes: 10
    if: github.event.pull_request.draft == false
    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: root
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: 'go.mod'
          cache: false
          check-latest: true
        id: go
      - name: go cache restore
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ env.GO-CACHE-VERSION }}-go-cache-${{ runner.os }}-${{ github.job }}-${{ hashFiles('**/go.sum') }}-${{ steps.go.outputs.go-version }}-${{ github.sha }}
          restore-keys: |
            ${{ env.GO-CACHE-VERSION }}-go-cache-${{ runner.os }}-${{ github.job }}-${{ hashFiles('**/go.sum') }}-${{ steps.go.outputs.go-version }}-${{ github.sha }}
            ${{ env.GO-CACHE-VERSION }}-go-cache-${{ runner.os }}-${{ github.job }}-${{ hashFiles('**/go.sum') }}-${{ steps.go.outputs.go-version }}-
            ${{ env.GO-CACHE-VERSION }}-go-cache-${{ runner.os }}-${{ github.job }}-${{ hashFiles('**/go.sum') }}-
      - name: go env
        run: |
          echo "GOCACHE=$(go env GOCACHE)" >> $GITHUB_ENV
      - name: mysql wakeup
        run: |
          until (echo 'SELECT 1' | mysql -h 127.0.0.1 -P 3306 -uroot --silent &> /dev/null); do echo 'waiting for mysqld to be connectable...' && sleep 2; done
      - name: mysql migrate for tbls
        run: |
          mysql -h 127.0.0.1 -P 3306 -u root -e "CREATE DATABASE IF NOT EXISTS test_service DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_bin"
          go tool sql-migrate up -config=config/dbconfig.yml -env="ci"
      - name: run tbls
        run: |
          TBLS_DSN=mysql://root:@localhost:3306/test_service go tool tbls lint --config config/.tbls.yml
          TBLS_DSN=mysql://root:@localhost:3306/test_service go tool tbls doc --rm-dist --config config/.tbls.yml
      - name: modelgen
        run: MODELGEN_DSN="root@tcp(127.0.0.1:3306)/test_service?parseTime=true" make gen/model
      - uses: dev-hato/actions-diff-pr-management@bda458eb55c11585595482e3ec7506b05632b5ec # v2.2.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          branch-name-prefix: fix-tbls-modelgen
          pr-title-prefix: fix tbls modelgen
      - name: test
        run: |
          go test ./...
      - name: go cache save
        if: github.event_name == 'push'
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ env.GO-CACHE-VERSION }}-go-cache-${{ runner.os }}-${{ github.job }}-${{ hashFiles('**/go.sum') }}-${{ steps.go.outputs.go-version }}-${{ github.sha }}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
